* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.mobile-menu {
    margin: auto;
    padding: 16px;
    max-width: 400px;
}

.list-of-tabs {
    display: flex;
    justify-content: space-around;
}

.tab {
    list-style-type: none;
}

.tab-link {
    border: 1px solid black;
    border-radius: 16px;
    padding: 8px;
    text-decoration: none;
    color: black;
    width: fit-content;

    display: grid;
    /* Auto value for first column prevents choppiness */
    grid-template-columns: auto 0fr;
    align-items: center;
    transition: grid-template-columns 0.2s ease-out;
}

.tab-icon {
    height: 2rem;
}

.tab-name {
    text-indent: 4px;
    overflow: hidden;
}

.active-tab .tab-link {
    /* Auto value for first column prevents choppiness */
    grid-template-columns: auto 1fr;
}

/* Let mobile menu fit on narrow screens */
@media screen and (max-width: 350px) {
    .tab:nth-last-child(-n + 1) {
        display: none;
    }
}
